{% extends '@App/manager/app.html.twig' %}

{% block content %}

    <h4>Avaliações de cursos da instituição {{ institution.name }}</h4>

    <a href="{{ path('app_manager_score_add_form', {institutionId: institution.id}) }}">
        <div
            class="ui vertical animated blue button"
            tabindex="0"
        >
            <div class="hidden content">Adicionar</div>
            <div class="visible content">
                &nbsp;&nbsp;&nbsp;&nbsp;<i class="plus icon"></i>&nbsp;&nbsp;&nbsp
            </div>
        </div>
    </a>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Curso</th>
            <th>Nota do curso</th>
            <th>Média dos alunos</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>

        {% if scores|length > 0 %}

            {% for score in scores %}

                <tr>
                    <td>{{ score.course.name }}</td>
                    <td>{{ score.courseGeneralScore }}</td>
                    <td>{{ score.courseStudentAvgScore }}</td>
                    <td class="collapsing">
                        <div
                            class="ui vertical animated red button app-score-remove"
                            tabindex="0"
                            data-score-id="{{ score.id }}"
                        >
                            <div class="hidden content">Remover</div>
                            <div class="visible content">
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="trash icon"></i>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="ui basic modal app-score-remove-modal-{{ score.id }}">
                            <div class="ui icon header">
                                <i class="trash alternate icon"></i>
                                Tem certeza que deseja remover a avaliação do curso {{ score.course.name }}?
                            </div>
                            <div class="content">
                                <p>
                                    Esta ação é irreversível, você poderá adicionar esta avaliação novamente depois.
                                </p>
                            </div>
                            <div class="actions">
                                <div class="ui red cancel inverted button">
                                    <i class="remove icon"></i>
                                    Não
                                </div>
                                <div class="ui green ok inverted button">
                                    <i class="checkmark icon"></i>
                                    Sim
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}

        {% else %}

            <tr>
                <td colspan="4">Nenhuma avaliação de cursos da instituição {{ institution.name }} cadastrados ainda</td>
            </tr>

        {% endif %}

        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script>
        /**
         * ready
         */
        $(document).ready(function() {
            $('.app-score-remove').on('click', function () {
                var id = $(this).data('score-id');
                $('.app-score-remove-modal-' + id).modal({
                    allowMultiple: false,
                    closable: false,
                    onApprove: function() {
                        window.location = '/manager/institutions/{{ institution.id }}/scores/' + id + '/delete';
                    }
                }).modal('show');
            });
        });
    </script>

{% endblock %}