<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Devtest</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        {% if app.environment == 'prod' %}
            <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendor/semantic-ui-css/semantic.min.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendor/toastr/build/toastr.min.css') }}">
        {% else %}
            <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendor/semantic-ui-css/semantic.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('assets/vendor/toastr/build/toastr.css') }}">
        {% endif %}

        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/assets/css/main.css') }}">

        {% block css %}
        {% endblock %}
    </head>
    <body cz-shortcut-listen="true">
        {% block body %}
        {% endblock %}

        {% if app.environment == 'prod' %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/semantic-ui-css/semantic.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/toastr/build/toastr.min.js') }}"></script>
        {% else %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/semantic-ui-css/semantic.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/toastr/toastr.js') }}"></script>
        {% endif %}

        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/notify.js') }}"></script>

        {% include '@App/notify.html.twig' %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
